* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}
.container {
  background-color: #e6e6e6;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
}
h1 {
  text-align: center;

  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  display: block;
  padding: 10vh 0 5vh 0;
}
.cartopen {
  border: 1px solid rgb(179, 179, 179);
  box-shadow: 1px 1px 4px rgb(161, 153, 153);
  width: 300px;
  margin: auto;
  height: 100px;
  margin-bottom: 20px;

  .imgprice {
    display: flex;
    align-items: center;
  }
}
.delete {
  background: transparent;
  outline: none;
  border: none;
  margin: 0 0 0 280px;
  cursor: pointer;
  :hover {
    outline: none;
  }
}

.image {
  width: 120px;
}
.image img {
  height: 60px;
  object-fit: contain;
  width: 100%;
}

@media (max-width: 700px) {
  .container {
    padding-top: 10vh;
  }
}
