* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-color: #e6e6e6;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* logo */
  .logo {
    display: flex;
    align-items: center;
    font-family: "Playwrite ES", cursive;
    width: 60px;

    img {
      width: 100%;
      position: relative;
      top: -3px;
      background: transparent;
    }
    h2 {
      font-size: 22px;
    }
  }

  /* item */
  .item {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  /* li-item */
  .variety-item {
    display: flex;
    gap: 15px;
    li {
      font-family: "Playwrite ES", cursive;
      font-size: 15px;
      list-style: none;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .profile {
    display: flex;
    gap: 15px;

    .cart {
      width: 30px;
      img {
        width: 100%;
      }
    }
    .profile-icon {
      width: 30px;
      img {
        width: 100%;
      }
    }
  }
}

/* responsive */

@media (max-width: 700px) {
  .header {
    height: 14vh;
    box-shadow: 1px 1px 4px grey;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #302f2f;
    color: #cdcdcd;

    .logo {
      position: fixed;
      left: 0;
    }
  }
  .hameburger {
    position: fixed;
    right: 14px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 3px;
    top: 5.9%;

  }
  .hameburger .one,
  .two,
  .three {
    width: 20px;
    height: 3px;

    background-color: #cdcdcd;
    border-radius: 3px;
  }

  .item {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #302f2f;
    width: 100%;
    max-width: 200px;
    position: fixed;
    top: 0;
    right: -400px;
    padding: 10vh;
    text-align: center;
    box-shadow: 1px 1px 8px rgb(198, 196, 196);

    #variety-item {
      display: flex;
      flex-direction: column;
      margin: 0;
      color: #cdcdcd;
      li {
        a {
          color: #cdcdcd;
        }
      }
    }

    .profile {
      .cart {
        a {
          color: white;
        }
      }
    }
  }

  .hameburger.active {
    .one {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .two {
      opacity: 0;
    }
    .three {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
  .item.active {
    right: 0;
  }
}
